/.idea
/target
/out
/src/main/resources/binaries/windows/chrome_portable/
/src/main/resources/binaries/windows/firefox_portable/
/src/main/resources/binaries/unix/firefox_portable/
/src/main/resources/binaries/unix/chrome_portable/
